// MIXINS //

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin formFields{
    @include flexColumn;
        font-size: 18px;
        margin-top: 20px;
        label{
            margin-top: 20px;
            width: 100%!important;
        }
        select{
            padding: 15px 35px 15px 15px;
            border: $border;
            font-size: 16px;
            width: 100%!important;
            margin-top: 10px;
        }
}
@mixin button{
    border: 1px solid #4169e1ab;
    border-radius: 5px;
    width: 50%;
    padding: 12px;
    cursor: pointer;
    color: $textColorBlue;
    margin: auto;
    margin-top: 50px;
        &:hover{
            border-color: #4169e14d;
        }
}
@mixin main{
    position: absolute;
    top: 0px;
    left: 195px;
    bottom: 0px;
    background: #ffffff;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
@mixin vertragspanel{
    position: fixed;
    right: 0px;
    width: 320px;
    z-index: 2;
    height: 100%;
    border-left: $border;
    background: $backgroundGrey;
    box-sizing: border-box;
}
@mixin mediaQ($number){
    @media screen and (max-width: $number) {
        @content;
    }
}