// VARIABLES //

$mainFont: "Arial,Helvetica,Verdana,sans-serif;";
$textColorBlack: #000000b3;
$textColorBlue: #4169e1ab;
$textColorGrey: #9798a2;
$border: 1px solid #9798a233;
$backgroundGrey: #f6f6f6;


// RESET RULES //
a{
    text-decoration: none;
}
h1{
    font-weight: 400;
}