	@font-face { font-family: 'meine-schrift';
				 src: url('../fonts/Raleway-Medium.ttf') format('truetype'); }
		
		
		h1{
			font-size: 		16px;
			font-family:	meine-schrift;
		}
		
		h2{
			font-size: 		14px;
			font-family: 	meine-schrift;
		}
		
		body{
			font-family: 	meine-schrift;
			background-color: white;
			font-size: 		12px;
			color: 			#383838;
		}
		
		#slideBox
			{
			  padding:          2%;
			  margin-bottom: 	2%;
			  margin:           0 auto;
			  font-family: 		Calibri;
			  width:            100%;
			  height:           20%;
			  background-color: white;
			  line-height:      100px;
			  text-align:       left;
			  border: 			1px solid black;
			}
			
		.col-md-4{
				background-color: 	white;
				width: 				96%;
				margin-left: 		2%;
				margin-left: 		2%;
				color: 				#383838;
			}
			
		.col-md-4-2{
				margin-top: 18%;
			}

		a:link { 
				color: 				#383838;
				margin-top: 		6px;
			}
			
		#warn{
			margin-top: 20%;
			color: red;
			background-color: darkblue;
		}
		
		.wrapper{
			margin-bottom: 10%;
			
		}
		
			#system-load{
				margin-top: -15%;
			}

			img {
				background-color: white;
				text-shadow: none;
			}
			
		
			
		
		